body {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.requirement, .errorMessage {
    color: red;
}

#auth_header {
    text-align: center;
}

#header_img {
    width: 85px;
}

#site_name {
    color: green;
    font-style: italic;
}