{% extends 'authentication/layout.html' %}


{% block title %}Change Password{% endblock %}


{% block style %}
<style>
    #change_password {
        text-align: center;
        padding: 30px;
    }
</style>
{% endblock %}


{% block body %}
<div style="text-align: center;"><h3>Change Your Password</h3><hr></div>
<div class="container" id="change_password">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="{{ url_for('authentication.change_password') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="password1"><span class="requirement">*</span>Enter A New Password</label>
                    <input type="password" class="form-control" name="password1" placeholder="Enter A New Password" autofocus>
                </div>
                <div class="form-group">
                    <label for="password2"><span class="requirement">*</span>Confirm New Password</label>
                    <input type="password" class="form-control" name="password2" placeholder="Confirm New Password">
                </div>
                <button type="submit" class="btn btn-primary">Change</button>
            </form>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
    <div class="errorMessage">
        {% if password_error %}
            {{password_error}}
        {% else %}
            <br>
        {% endif %}
    </div>
    <div>
        <a href="{{ url_for('authentication.login') }}">Login</a>&nbsp;&nbsp;
        <a href="{{ url_for('authentication.register') }}">Register</a>&nbsp;&nbsp;
        <a href="{{ url_for('authentication.login') }}">Cancel</a>
    </div>
</div>
{% endblock %}