{% extends 'authentication/layout.html' %}


{% block title %}Login{% endblock %}


{% block style %}
<style>
    #login {
        text-align: center;
        padding: 30px;
    }
</style>
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='authentication/login.js') }}"></script>
{% endblock %}


{% block body %}
<div style="text-align: center;"><h3>Login</h3><hr></div>
<div class="container" id="login">
    <div class="row">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
            <form action="{{ url_for('authentication.login') }}" method="POST" id="login_form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="email"><span class="requirement">*</span>Email address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" autofocus>
                </div>
                <div class="form-group">
                    <label for="password"><span class="requirement">*</span>Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
        <div class="col-lg-4">

        </div>
    </div>
    <div class="errorMessage">
        {% if login_error %}
            {{login_error}}
        {% else %}
            <br>
        {% endif %}
    </div>
    <div><a href="{{ url_for('authentication.register') }}">Register</a></div>
    <div><a href="{{ url_for('authentication.recover_password') }}">Forgot Password</a></div>
</div>
{% endblock %}