{% extends 'authentication/layout.html' %}


{% block title %}Recover Password{% endblock %}


{% block style %}
<style>
    #recovery {
        text-align: center;
        padding: 30px;
    }
</style>
{% endblock %}


{% block body %}
<div style="text-align: center;"><h3>Recover Your Password</h3><hr></div>
<div class="container" id="recovery">
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <form action="{{ url_for('authentication.recover_password') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="credentials"><span class="requirement">*</span>Email Address or Username</label>
                    <input type="text" class="form-control" name="credentials" placeholder="Email Address or Username" autofocus>
                </div>
                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
    <h6 style="color: red;">*Check your inbox/spam folder for a verification code</h6>
    <div class="errorMessage">
        {% if recovery_error %}
            {{recovery_error}}
        {% else %}
            <br>
        {% endif %}
    </div>
    <div><a href="{{ url_for('authentication.login') }}">Login</a></div>
    <div><a href="{{ url_for('authentication.register') }}">Register</a></div>
</div>
{% endblock %}